<div class="main__body" id="main-cont">
  <div class="container">
    <form name="userform" method="post" #formCtrl="ngForm" id="main-form">
      <h3 align="center">Login</h3>

      <div id="text-login">
        <div>Вход только для владельцев сайта</div>
        <div>Если вы не владелец, то это действие абсолютно бесполезно</div>
      </div>

      <button type="button" class="btn btn-primary btn-block" (click)="signInWithGoogle()" id="login-butt">
        <i class="fa fa-google" aria-hidden="true"></i>
        Login with Google
      </button>
    </form>
  </div>
</div>
<div id="vacuum"></div>
