main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#delbutt {
  display: inline-block;
}
#chengebutt {
  display: inline-block;
}
#list-elem {
  margin: auto;
  width: 60%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 10px;
}
#add-button {
  margin: auto;
  margin-top: 10px;
  width: 40%;
}
#content-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
#left-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
  width: 80%;
}
#right-content {

}
#matter-icon {
  width: 150px;
  height: 150px;
}
